aliyun-python-sdk-core==2.11.4
aliyun-python-sdk-core-v3==2.11.4
aliyun-python-sdk-kms==2.5.0
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
beautifulsoup4==4.6.3
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
crcmod==1.7
cryptography==2.3.1
cssselect==1.0.3
cycler==0.10.0
Django==2.1.5
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
kiwisolver==1.0.1
lxml==4.2.5
matplotlib==3.0.2
numpy==1.15.4
opencv-python==3.4.4.19
oss2==2.6.0
parsel==1.5.0
Pillow==5.3.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
pycryptodome==3.7.2
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pymongo==3.7.1
pyOpenSSL==18.0.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.9
queuelib==1.5.0
redis==2.10.6
requests==2.21.0
selenium==3.141.0
service-identity==17.0.0
six==1.11.0
tornado==5.1.1
urllib3==1.24.1
w3lib==1.19.0
zope.interface==4.5.0

Scrapy==1.5.1
scrapy-redis==0.6.8