absl-py==0.7.0
aliyun-python-sdk-core==2.11.4
aliyun-python-sdk-core-v3==2.11.4
aliyun-python-sdk-kms==2.5.0
aniso8601==6.0.0
APScheduler==3.6.0
asn1crypto==0.24.0
astor==0.7.1
attrs==18.2.0
Automat==0.7.0
beautifulsoup4==4.6.3
Camelot==12.6.29
camelot-py==0.7.2
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
configobj==5.0.6
configparser==3.7.4
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
crcmod==1.7
cryptography==3.2
cssselect==1.0.3
cycler==0.10.0
decorator==4.4.0
Django==2.1.5
django-apscheduler==0.3.0
django-filter==2.1.0
django-rest-swagger==2.2.0
djangorestframework==3.9.2
Elixir==0.7.1
envoy==0.0.3
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Cache==0.13.1
Flask-Cors==3.0.7
Flask-RESTful==0.3.7
funcsigs==1.0.2
future==0.17.1
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
httplib2==0.12.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
isodate==0.6.0
itsdangerous==1.1.0
itypes==1.1.0
jdcal==1.4
jieba==0.39
Jinja2==2.10
json2html==1.2.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.2
mock==2.0.0
networkx==2.3
neurdflib==5.0.0.post1
nibabel==2.4.0
nipype==1.1.9
numpy==1.15.4
openapi-codec==1.3.2
opencv-python==3.4.4.19
openpyxl==2.6.2
oss2==2.6.0
packaging==19.0
pandas==0.24.2
parsel==1.5.0
pbr==5.1.2
pdf2image==1.4.2
pdfminer.six==20181108
Pillow==5.3.0
protobuf==3.6.1
prov==1.5.3
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
pycryptodome==3.7.2
PyDispatcher==2.0.5
pydot==1.4.1
pydotplus==2.0.2
PyExecJS==1.5.1
PyHamcrest==1.9.0
pymongo==3.7.1
pyOpenSSL==18.0.0
pyparsing==2.3.0
PyPDF2==1.26.0
pypinyin==0.35.2
python-dateutil==2.7.5
pytz==2018.9
pyxnat==1.1.0.0
queuelib==1.5.0
rdflib==4.2.2
redis==2.10.6
requests==2.21.0
scipy==1.2.1
Scrapy==1.5.1
scrapy-redis==0.6.8
selenium==3.141.0
service-identity==17.0.0
simplejson==3.16.0
six==1.11.0
sortedcontainers==2.1.0
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
Tempita==0.5.2
tensorboard==1.12.2
tensorflow==1.13.0rc2
tensorflow-estimator==1.13.0rc0
termcolor==1.1.0
tornado==5.1.1
traits==5.1.1
Twisted==18.7.0
tzlocal==1.5.1
uritemplate==3.0.0
urllib3==1.24.1
uWSGI==2.0.18
w3lib==1.19.0
Werkzeug==0.14.1
wordcloud==1.5.0
xlrd==0.7.1
xlwt==0.7.2
zope.interface==4.5.0
