[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.19.1"
"beautifulsoup4" = "==4.6.0"
requests-html = "==0.8.0"
lxml = "==4.2.1"
redis = "==2.10.6"
pymongo = "==3.6.1"
selenium = "==3.11.0"

[dev-packages]

[requires]
python_version = "3.6"
